@media (prefers-color-scheme: light) {
	:root {
		--theme-color: red;
		--color-lightest: hsl(0deg, 0%, 100%);
		--color-lighter: hsl(0deg, 0%, 80%);
		--color-light: hsl(0deg, 0%, 60%);
		--color-strong: hsl(0deg, 0%, 40%);
		--color-stronger: hsl(0deg, 0%, 20%);
		--color-strongest: hsl(0deg, 0%, 0%);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--theme-color: red;
		--color-lightest: hsl(0deg, 0%, 0%);
		--color-lighter: hsl(0deg, 0%, 20%);
		--color-light: hsl(0deg, 0%, 40%);
		--color-strong: hsl(0deg, 0%, 60%);
		--color-stronger: hsl(0deg, 0%, 80%);
		--color-strongest: hsl(0deg, 0%, 100%);
	}
}
